.idea
node_modules
resume.json
dbApp.ppk
28_MOHAMMED_AFTHAB_M.json
resume.html
resumeInput.json
sentAppCfm.json
sentEmail.json
email.js
75_SREEJA_RAVI.txt
154_SAVITA_NARAYAN_JADHAV.txt
dbApp.ppk
extra